.login-main {
    /* flex: 1 calc(100vh - 110px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-message {
    padding-bottom: 0.4em;
}