.greenhouse-main {
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
}

.inactive-parent {
    display: flex;
    flex-direction: row;
    align-content: end;
    flex: 1;
}

.active-parent {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 2em;
}

.shelves {
    flex: 1 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 1em;
    row-gap: 2.5em;
    margin: 2.5em;
}

.plant {
    padding: 0.2em;
}
/* 
.plant img {
    height: 200px;
} */

.tools {
    flex: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 1.5em;
    padding-left: 0em;
    /* justify-self: right; */
}

.action-button {
    /* background-color: lightblue; */
    border-radius: 35px;
    height: 70px;
    width: 70px;
    padding: 0.6em;
    margin-top: 0.6em;
}

.planting-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 20px;
}

.planting-form-input {
    margin: 0.4em;
}

.preview-image {
    padding-bottom: 0.4em;
}

.label {
    padding: 0.2em;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 0 calc(100vw / 3);
    padding: 1em;
}